body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #00000e;
  padding: 50px 0 50px 0;
}


.mainContainer{
  background-color: #1e1e1e;
  max-width: 86.4vw;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.plotParagraph{
  padding: 0 25px 0 25px;
  width: 84%;
  margin: 0 auto;
  text-align: justify;
  color: white;
}

.articleHeader{
  text-align: left;
  background-color: #1e1e1e;
  color: white;
  padding: 5px 15px 5px 15px;
}

.moviePoster{
  margin: 10px 0 10px 0;
  width: 35%;
}

.movieInfo{
  color: white;
  padding: 0 25px 0 25px;
}

.movieYearAndRunTimeHeader{
  color: white;
}

.errorMessage{
  color: white;
}

.topHeader{
  color: white;
  margin-bottom: 25px;
}

.mainForm{
  margin: 0 25px 0 25px;
}